
#navMain {
    background-color: #FFF;
    height: 60px;
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    vertical-align: middle;
    box-shadow: 2px 2px 2px #F0F0F0;
}

#mainLogoText {
    color: #79b94c;
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
    margin-top: 12px;

}

#mainLogo {
    margin-left: 15px;
    vertical-align: middle;
}

.loginBtn {
    margin-top: 15px;
    color: #79b94c;
    text-align: right;
    vertical-align: middle;
    font-size: 20px;
    margin-left:auto;
    margin-right:15px;
}

#navUser {
    background-color: #4F9834;
    text-align: center;
    width: 100%;

}

#navUser a {
    font-size: 15px;
    color: white;
}


text {
    border: 1px solid black;
    width: 100%;
}